body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
/*@keyframes first-animation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg)  scale(1.2);

    }
}*/
/*.first-element {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid darkgray;
    border-radius: 100%;
    transition: all .5s cubic-bezier(0, 0, 0.37, 1.57);
    overflow: hidden;
    animation: first-animation 1s infinite linear;
    
    
}*/
/*.first-element img {
    height: 100%;
    
}

.first-element:hover {
        background: darkgray;
        box-shadow: 0px 0px 20px 1px black;
        transform: rotate(90deg);
        transform-origin:center;
        
    }*/
@keyframes walk-around-body {
    /*0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: calc(100% - 75px);
        background: green;
    }
    50% {
        left: calc(100% - 75px);
        top: calc(100% - 75px);
        background: yellow;
    }
    75% {
        left: 0px;
        top: calc(100% - 75px);
        background: black;
    }
    100% {
        left: 0px;
        top: 0px;

    }*/

    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
    }
.walk {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    position: absolute;
    top: 15%;
    left: 35%;
    /*transition: all .5s linear;*/
    animation: walk-around-body 5s infinite linear;
}
.earth {
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sun {
    width: 100px;
    height:100px;
    background: orange;
    border-radius: 100%;
    position: absolute;
    top: 200px;
    left: 200px;

}