body
{
    margin: 0px;
}
.row {
    width: 1000px;
    margin: 0 auto;

}
.row div {
    width: calc(100% / 3 - 20px);
    margin: 10px;

    background: brown;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}
    .row div img {
        width: 50%;
        float:left
    }
    @media screen and (max-width: 600px) {
        body {
        background: blue;
    }
    .row {
        width: 100%;
    }
        .row div {
            width: calc(100% - 20px);
        }
        .row div img {
            width: 100%;

        }
}

@media screen and (min-width: 600px) and (max-width:1200px){
    body {
        background: green;
    }
    .row {
        width: 100%;
    }
    .row div {
        width: calc(50% - 20px);
    }
    .row div img {
        width: 100%;

    }
    .row div:last-child {
        width: calc(100% - 20px);
    }
        .row div:last-child img {
            width: 50%;
        }
}
@media screen and (min-width: 1200px)  {
    body {
        background: yellow;
    }
}